.page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    line-height: 1.2;
    background-color: black;
    font-family: "Fira Code",
    "Source Code Pro",
    "Fira Code Online",
    "Source-Han-Sans-Medium",
    "PingFang SC",
    "Hiragino Sans GB",
    "Heiti SC",
    "Microsoft YaHei",
    "WenQuanYi Micro Hei",
    Helvetica,
    Tahoma,
    "Ubuntu Condensed",
    sans-serif;
}

.container {
    margin: 0 auto;
    top: 15px;
    height: 90%;
    width: 84%;
    max-width: 1240px;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.72);
    border: 1px solid #990096;
    overflow-y: auto;
    overflow-x: hidden;

}
