
.descriptions_container {
    position: relative;
    display: block;
    margin: 0;
    overflow-y: auto;
    height: auto;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);

}

.description_div {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) ;

}

.description_content {
    position: relative;
    display: block;
    text-align: center;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1pt dotted #990096;
    color: #dddddd;
    background: rgba(0, 0, 0, 0.80)  ;

}


/*text*/

.description_title{
    color:#990096;
    padding: 2px;
}

.description_text {
    display: block;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    color: #dddddd;
    font-size: 16px;
}

/*Buttons*/

.language_button {
    margin: 10px;
    font-size: 14px;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    background-color: rgba(0, 0, 0, 0);
    color: #990096;
    cursor: pointer;

}

.language_button:hover {
    background-color: #990096;
    color: white;
}

.language_button:active {
    transform: translateY(4px);
}

.show_button {
    margin: 3px;
    font-size: 14px;
    width: 95%;
    padding: 1px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.72);
    color: #990096;
    cursor: pointer;
}

.hide_button {
    float: left;
    font-size: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: darkslategrey;
    color: #dddddd;
    cursor: pointer;

}
