$color2 = #0055ff
$color3 = #ffffff
$color = #f300be
// $color2 = #E3A826
$white = lightness($color, 90%)
$dark = lightness($color, 80%)
$darkness = #000000
$bg = saturation(lightness($color3,80%),30%)
//$bg = saturation(lightness($color,30%),20%)
$bg = saturation(lightness($color3,80%),80%)
$bg-plus = saturation(lightness($color,75%),30%)
$warn = #be385d
$light = #00f3a9
$mid = lightness($color, 55%)

$border = $color solid 1px
$txt-sh = 1px 1px 1px  rgba(0,0,0,.5)
$box-sh = 1px 1px 2px rgba(0,0,0,0.7)
$sh = 1px 1px 2px rgba(0,0,0,0.5)
$hard-sh = 2px 2px 4px rgba(0,0,0,.8)

$sym-close = "✖"
