.page {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.2;
    overflow: hidden;
    background-color: black;
    font-family: "Fira Code",
    "Source Code Pro",
    "Fira Code Online",
    "Source-Han-Sans-Medium",
    "PingFang SC",
    "Hiragino Sans GB",
    "Heiti SC",
    "Microsoft YaHei",
    "WenQuanYi Micro Hei",
    Helvetica,
    Tahoma,
    "Ubuntu Condensed",
    sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
    top: 15px;
}

.main_container {
    position: absolute;
    top: 80px;
    bottom: 80px;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 15px;
    height: 60px;
    overflow: hidden;
    width: 100%;

}

.container {
    position: relative;
    overflow-y: auto;
    text-align: center;
    height: 100%;
    width: 84%;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.60);
    border: 2px solid #990096;
}


.content {
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    height: auto;
    background: rgba(0, 0, 0, 0) ;
    border: 1px dashed #990096;
    color: #dddddd;
}
