.wish_list_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    border: 1px dashed #990096;
    color: #dddddd;
}

.wish_card {
    position: relative;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: none;
    margin: 3px;
    font-size: 14px;
    cursor: pointer;
}

.wish_card_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wish_card_text {
    margin: 10px;
}

.wish_card:hover {
    background-color: #990096;
    color: #dddddd;
}

.wish_card_container {
}
