
#wish_search_input {
    background-repeat: no-repeat;
    width: 50%;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.wish_list_container {
    position: relative;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    border: 1px dashed #990096;
    color: #dddddd;
}

.wish_card {
    position: relative;
    float: left;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: none;
    text-align: center;
    max-width: 200px;
    width: 30%;
    margin-right: 5px;
    font-size: 14px;
    display: block;
}

.wish_card:hover {
    background-color: #990096;
    text-color: #dddddd;
}

.wish_card_container {
    padding: 2px 16px;
}
